interactions:
- request:
    body: bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT04601
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: '{"output":[{"ISU_CD":"KR7495710006","ISU_SRT_CD":"495710","ISU_NM":"BNK
        BNK 26-06 특수채(AAA이상)액티브증권상장지수투자신탁(채권)","ISU_ABBRV":"BNK 26-06 특수채(AAA이상)액티브","ISU_ENG_NM":"BNK
        BNK 26-06 Public Finance Bond(AAA or higher) Active ETF","LIST_DD":"2024/12/03","ETF_OBJ_IDX_NM":"KAP
        26-06 특수채 총수익 지수(AAA이상)","IDX_CALC_INST_NM1":"한국자산평가(KAP)","IDX_CALC_INST_NM2":"일반","ETF_REPLICA_METHD_TP_CD":"실물(액티브)","IDX_MKT_CLSS_NM":"국내","IDX_ASST_CLSS_NM":"채권","LIST_SHRS":"2,106,000","COM_ABBRV":"비엔케이자산운용","CU_QTY":"2,000","ETF_TOT_FEE":"0.100000","TAX_TP_CD":"배당소득세(보유기간과세)"},{"ISU_CD":"KR7466810009","ISU_SRT_CD":"466810","ISU_NM":"BNK
        BNK 2차전지양극재증권상장지수투자신탁(주식)","ISU_ABBRV":"BNK 2차전지양극재","ISU_ENG_NM":"BNK BNK
        Secondary Battery Cathode Materials ETF","LIST_DD":"2023/10/19","ETF_OBJ_IDX_NM":"iSelect
        2차전지양극재 지수","IDX_CALC_INST_NM1":"NH투자증권","IDX_CALC_INST_NM2":"일반","ETF_REPLICA_METHD_TP_CD":"실물(패시브)","IDX_MKT_CLSS_NM":"국내","IDX_ASST_CLSS_NM":"주식","LIST_SHRS":"1,800,000","COM_ABBRV":"비엔케이자산운용","CU_QTY":"50,000","ETF_TOT_FEE":"0.39[...]
