interactions:
- request:
    body: locale=ko_KR&mktsel=ALL&searchText=&typeNo=0&bld=dbms%2Fcomm%2Ffinder%2Ffinder_stkisu
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: '{"block1":[{"full_code":"KR7060310000","short_code":"060310","codeName":"3S","marketCode":"KSQ","marketName":"코스닥","marketEngName":"KOSDAQ","ord1":"","ord2":"16"},{"full_code":"KR7095570008","short_code":"095570","codeName":"AJ네트웍스","marketCode":"STK","marketName":"유가증권","marketEngName":"KOSPI","ord1":"","ord2":"16"},{"full_code":"KR7006840003","short_code":"006840","codeName":"AK홀딩스","marketCode":"STK","marketName":"유가증권","marketEngName":"KOSPI","ord1":"","ord2":"16"},{"full_code":"KR7054620000","short_code":"054620","codeName":"APS","marketCode":"KSQ","marketName":"코스닥","marketEngName":"KOSDAQ","ord1":"","ord2":"16"},{"full_code":"KR7265520007","s[...]
[...]
