interactions:
- request:
    body: bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT06701
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: '{"output":[{"ISU_CD":"KRG580000740","ISU_SRT_CD":"580074","ISU_NM":"KB증권
        KB BYD 밸류체인 상장지수증권 제74호","ISU_ABBRV":"KB BYD 밸류체인 ETN","ISU_ENG_NM":"KB Securities
        KB BYD Value Chain ETN 74","ISU_ENG_ABBRV":"KB BYD Value Chain ETN","LIST_DD":"2025/12/01","LSTTRD_DD":"2035/11/21","TRACE_IDX_NM":"Indxx
        China Smart Mobility Value Chain NTR Index","IDX_CALC_INST_NM":"Indxx","IDX_LVRG_INVRS_TP_CD":"일반","ETP_PROD_TP_CD":"ETN","IDX_MKT_CLSS_NM":"해외","IDX_ASST_CLSS_NM":"주식","LIST_SHRS":"2,000,000","ISUR_NM":"KB증권","EXPS_RTO":"0.000","TAX_TP_CD":"배당소득세(보유기간과세)"},{"ISU_CD":"KRG580000583","ISU_SRT_CD":"580058","ISU_NM":"KB증권
        KB KIS CD금리투자 상장지수증권 제58호","ISU_ABBRV":"KB KIS CD금리투자 ETN","ISU_ENG_NM":"KB
        Securities KB KIS CD ETN 58","ISU_ENG_ABBRV":"KB KIS CD ETN","LIST_DD":"2024/03/20","LSTTRD_DD":"2034/03/16","TRACE_IDX_NM":"KIS
        CD Index(총수익)","IDX_CALC_INST_NM":"KIS자산평가","IDX_LVRG_INVRS_TP_CD":"일반","ETP_PROD_TP_CD":"ETN","IDX_MKT_CLSS_NM":"국내","IDX_ASST_CLSS_NM":"기타","LIST_SHRS":"13,000,000","ISUR_NM":"KB증권","EXPS_RT[...]
- request:
    body: bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT08501
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: '{"output":[{"ISU_CD":"KRA583101F74","ISU_SRT_CD":"58L001","ISU_NM":"KB증권(주)
        주식워런트증권 제L001호","ISU_ABBRV":"KBL001KOSPI200콜","ISU_ENG_NM":"KB SECURITIES
        ELW L001","LIST_DD":"2025/07/29","LSTTRD_DD":"2026/07/09","EXP_DD":"2026/07/13","ELW_ULY_TP_NM":"주가지수","ULY_NM":"코스피
        200","LIST_SHRS":"4,000,000","ISUR_NM":"KB증권","ELW_CONV_RTO":"100.0","RGHT_TP_NM":"콜","ELW_EXER_TP":"유럽형","EXER_PRC":"468","LP_NM":"KB증권","ORD_SPD_RTO":"15","ELW_LST_SETL_METHD":"현금결제"},{"ISU_CD":"KRA581102F77","ISU_SRT_CD":"58L002","ISU_NM":"KB증권(주)
        주식워런트증권 제L002호","ISU_ABBRV":"KBL002삼성전자콜","ISU_ENG_NM":"KB SECURITIES ELW
        L002","LIST_DD":"2025/07/29","LSTTRD_DD":"2026/07/09","EXP_DD":"2026/07/13","ELW_ULY_TP_NM":"주식","ULY_NM":"삼성전자","LIST_SHRS":"10,200,000","ISUR_NM":"KB증권","ELW_CONV_RTO":"0.01","RGHT_TP_NM":"콜","ELW_EXER_TP":"유럽형","EXER_PRC":"65,900","LP_NM":"KB증권","ORD_SPD_RTO":"15","ELW_LST_SETL_METHD":"현금결제"},{"ISU_CD":"KRA581103F76","ISU_SRT_CD":"5[...]
