# Flutter/Dart
.dart_tool/
.packages
build/
*.g.dart
*.freezed.dart

# IDE
.idea/
.vscode/
*.iml

# Environment
.env
.env.*

# Android
android/.gradle/
android/app/debug/
android/app/release/
android/local.properties
android/key.properties
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/
macos/.symlinks/

# Misc
*.log
.DS_Store
