interactions:
- request:
    body: isuCd=KR7069500007&strtDd=20200101&endDd=20200531&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT04501
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: '{"output":[{"TRD_DD":"2020/05/29","TDD_CLSPRC":"26,775","FLUC_TP_CD":"2","CMPPREVDD_PRC":"50","FLUC_RT":"-0.19","LST_NAV":"26,877.98","TDD_OPNPRC":"26,650","TDD_HGPRC":"26,950","TDD_LWPRC":"26,520","ACC_TRDVOL":"8,025,387","ACC_TRDVAL":"214,767,801,550","MKTCAP":"5,127,412,500,000","INVSTASST_NETASST_TOTAMT":"5,260,021,146,651","LIST_SHRS":"191,500,000","IDX_IND_NM":"코스피
        200","OBJ_STKPRC_IDX":"268.32","FLUC_TP_CD1":"1","CMPPREVDD_IDX":"0.03","IDX_FLUC_RT":"0.01"},{"TRD_DD":"2020/05/28","TDD_CLSPRC":"26,825","FLUC_TP_CD":"1","CMPPREVDD_PRC":"80","FLUC_RT":"0.30","LST_NAV":"26,875.53","TDD_OPNPRC":"26,940","TDD_HGPRC":"27,110","TDD_LWPRC":"26,510","ACC_TRDVOL":"11,259,761","ACC_TRDVAL":"302,448,800,590","MKTCAP":"5,147,717,500,000","INVSTASST_NETASST_TOTAMT":"5,146,663,609,010","LIST_SHRS":"191,900,000","IDX_IND_NM":"코스피
        200","OBJ_STKPRC_IDX":"268.29","FLUC_TP_CD1":"1","CMPPREVDD_IDX":"0.65","IDX_FLUC_RT":"0.24"},{"TRD_DD":"2020/05/27","TDD[...]
