interactions:
- request:
    body: trdDd=20210127&mktTpCd=1&bld=dbms%2FMDC%2FSTAT%2Fsrt%2FMDCSTAT30501
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"OutBlock_1\":[{\"ISU_CD\":\"095570\",\"ISU_ABBRV\":\"AJ\uB124\uD2B8\uC6CD\uC2A4\",\"BAL_QTY\":\"33,055\",\"LIST_SHRS\":\"46,822,295\",\"BAL_AMT\":\"134,864,400\",\"MKTCAP\":\"191,034,963,600\",\"BAL_RTO\":\"0.07\"},{\"ISU_CD\":\"006840\",\"ISU_ABBRV\":\"AK\uD640\uB529\uC2A4\",\"BAL_QTY\":\"4,575\",\"LIST_SHRS\":\"13,247,561\",\"BAL_AMT\":\"131,760,000\",\"MKTCAP\":\"381,529,756,800\",\"BAL_RTO\":\"0.03\"},{\"ISU_CD\":\"027410\",\"ISU_ABBRV\":\"BGF\",\"BAL_QTY\":\"68,060\",\"LIST_SHRS\":\"95,716,791\",\"BAL_AMT\":\"449,196,000\",\"MKTCAP\":\"631,730,820,600\",\"BAL_RTO\":\"0.07\"},{\"ISU_CD\":\"282330\",\"ISU_ABBRV\":\"BGF\uB9AC\uD14C\uC77C\",\"BAL_QTY\":\"4,794\",\"LIST_SHRS\":\"17,283,906\",\"BA[...]
