interactions:
- request:
    body: idxIndMidclssCd=02&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT00401
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"output\":[{\"IDX_NM\":\"\uCF54\uC2A4\uD53C\",\"IDX_ENG_NM\":\"KOSPI\",\"BAS_TM_CONTN\":\"1980.01.04\",\"ANNC_TM_CONTN\":\"1983.01.04\",\"BAS_IDX_CONTN\":\"100.00\",\"CALC_CYCLE_CONTN\":\"10\uCD08\",\"CALC_TM_CONTN\":\"09:00:30
        ~ 15:30:00\",\"COMPST_ISU_CNT\":\"839\",\"IND_TP_CD\":\"1\",\"IDX_IND_CD\":\"001\"},{\"IDX_NM\":\"\uCF54\uC2A4\uD53C
        200\",\"IDX_ENG_NM\":\"KOSPI 200\",\"BAS_TM_CONTN\":\"1990.01.03\",\"ANNC_TM_CONTN\":\"1994.06.15\",\"BAS_IDX_CONTN\":\"100.00\",\"CALC_CYCLE_CONTN\":\"1\uCD08\",\"CALC_TM_CONTN\":\"09:00:30
        ~ 15:30:00\",\"COMPST_ISU_CNT\":\"200\",\"IND_TP_CD\":\"1\",\"IDX_IND_CD\":\"028\"},{\"IDX_NM\":\"\uCF54\uC2A4\uD53C
        100\",\"IDX_ENG_NM\":\"KOSPI 100\",\"BAS_TM_CONTN\":\"2000.01.04\",\"ANNC_TM_CONTN\":\"2000.03.02\",\"BAS_IDX_CONTN\":\"1,000.[...]
