interactions:
- request:
    body: mktId=KSQ&trdDd=20210122&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT01501
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"OutBlock_1\":[{\"ISU_SRT_CD\":\"060310\",\"ISU_CD\":\"KR7060310000\",\"ISU_ABBRV\":\"3S\",\"MKT_NM\":\"KOSDAQ\",\"SECT_TP_NM\":\"\uC911\uACAC\uAE30\uC5C5\uBD80\",\"TDD_CLSPRC\":\"2,255\",\"FLUC_TP_CD\":\"2\",\"CMPPREVDD_PRC\":\"-5\",\"FLUC_RT\":\"-0.22\",\"TDD_OPNPRC\":\"2,265\",\"TDD_HGPRC\":\"2,290\",\"TDD_LWPRC\":\"2,225\",\"ACC_TRDVOL\":\"275,425\",\"ACC_TRDVAL\":\"619,653,305\",\"MKTCAP\":\"101,029,662,305\",\"LIST_SHRS\":\"44,802,511\",\"MKT_ID\":\"KSQ\"},{\"ISU_SRT_CD\":\"054620\",\"ISU_CD\":\"KR7054620000\",\"ISU_ABBRV\":\"APS\uD640\uB529\uC2A4\",\"MKT_NM\":\"KOSDAQ\",\"SECT_TP_NM\":\"\uC911\uACAC\uAE30\uC5C5\uBD80\",\"TDD_CLSPRC\":\"7,120\",\"FLUC_TP_CD\":\"2\",\"CMPPREVDD_PRC\":\"-80\",\"FLUC_RT\":\"-1.11\",\"TDD_OPNPRC\":\"7,210\",\"TDD_HGPRC\":\"7,250\",\"TDD_LWPRC\":\"7,030\",\"ACC_TRDVOL\":\"124,636\",\"ACC_TRDVAL\":\"883,893,780\",\"MKTCAP\":\"145,206,853,520\",\"LIST_SHRS\":\"20,394,221\",\"MKT_ID\":\"KSQ\"},{\"ISU_SRT_CD\":\"2[...]
