interactions:
- request:
    body: idxIndMidclssCd=01&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT00401
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"output\":[{\"IDX_NM\":\"\uCF54\uB9AC\uC544 \uBC38\uB958\uC5C5 \uC9C0\uC218\",\"IDX_ENG_NM\":\"Korea
        Value-up Index\",\"BAS_TM_CONTN\":\"2024.01.02\",\"ANNC_TM_CONTN\":\"2024.09.30\",\"BAS_IDX_CONTN\":\"1,000.00\",\"CALC_CYCLE_CONTN\":\"1\uCD08\",\"CALC_TM_CONTN\":\"09:00:30
        ~ 15:30:00\",\"COMPST_ISU_CNT\":\"99\",\"IND_TP_CD\":\"5\",\"IDX_IND_CD\":\"302\"},{\"IDX_NM\":\"KRX
        TMI\",\"IDX_ENG_NM\":\"KRX TMI            \",\"BAS_TM_CONTN\":\"2010.04.01\",\"ANNC_TM_CONTN\":\"2025.01.13\",\"BAS_IDX_CONTN\":\"1,000.00\",\"CALC_CYCLE_CONTN\":\"1\uCD08\",\"CALC_TM_CONTN\":\"09:00:30
        ~ 15:30:00\",\"COMPST_ISU_CNT\":\"2,356\",\"IND_TP_CD\":\"5\",\"IDX_IND_CD\":\"447\"},{\"IDX_NM\":\"KRX
        300\",\"IDX_ENG_NM\":\"KRX 300\",\"BAS_TM_CONTN\":\"2010.01.04\",\"ANNC_TM_CONTN\":\"2018.02.05\",\"BAS_IDX_CONTN\":\"1,000.00\",\"CALC_CYCLE_[...]
[...]
