interactions:
- request:
    body: strtDd=20210115&endDd=20210122&mktId=STK&invstTpCd=8000&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT02401
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"output\":[{\"ISU_SRT_CD\":\"005930\",\"ISU_NM\":\"\uC0BC\uC131\uC804\uC790\",\"ASK_TRDVOL\":\"79,567,418\",\"BID_TRDVOL\":\"102,852,747\",\"NETBID_TRDVOL\":\"23,285,329\",\"ASK_TRDVAL\":\"6,918,846,810,800\",\"BID_TRDVAL\":\"8,972,911,580,500\",\"NETBID_TRDVAL\":\"2,054,064,769,700\"},{\"ISU_SRT_CD\":\"000270\",\"ISU_NM\":\"\uAE30\uC544\uCC28\",\"ASK_TRDVOL\":\"44,440,252\",\"BID_TRDVOL\":\"49,880,626\",\"NETBID_TRDVOL\":\"5,440,374\",\"ASK_TRDVAL\":\"3,861,283,906,400\",\"BID_TRDVAL\":\"4,377,698,855,000\",\"NETBID_TRDVAL\":\"516,414,948,600\"},{\"ISU_SRT_CD\":\"005935\",\"ISU_NM\":\"\uC0BC\uC131\uC804\uC790\uC6B0\",\"ASK_TRDVOL\":\"15,849,762\",\"BID_TRDVOL\":\"20,011,325\",\"NETBID_TRDVOL\":\"4,161,563\",\"ASK_TRDVAL\":\"1,207,133,611,400\",\"BID_TRD[...]
