interactions:
- request:
    body: strtDd=20210115&endDd=20210122&mktId=KNX&invstTpCd=8000&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT02401
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"output\":[{\"ISU_SRT_CD\":\"140610\",\"ISU_NM\":\"\uC5D4\uC194\uBC14\uC774\uC624\uC0AC\uC774\uC5B8\uC2A4\",\"ASK_TRDVOL\":\"181,980\",\"BID_TRDVOL\":\"222,487\",\"NETBID_TRDVOL\":\"40,507\",\"ASK_TRDVAL\":\"3,120,731,650\",\"BID_TRDVAL\":\"3,812,653,350\",\"NETBID_TRDVAL\":\"691,921,700\"},{\"ISU_SRT_CD\":\"044990\",\"ISU_NM\":\"\uC5D0\uC774\uCE58\uC5D4\uC5D0\uC2A4\uD558\uC774\uD14D\",\"ASK_TRDVOL\":\"11,827\",\"BID_TRDVOL\":\"47,463\",\"NETBID_TRDVOL\":\"35,636\",\"ASK_TRDVAL\":\"108,445,380\",\"BID_TRDVAL\":\"429,105,250\",\"NETBID_TRDVAL\":\"320,659,870\"},{\"ISU_SRT_CD\":\"246250\",\"ISU_NM\":\"\uC5D0\uC2A4\uC5D8\uC5D0\uC2A4\uBC14\uC774\uC624\",\"ASK_TRDVOL\":\"66,974\",\"BID_TRDVOL\":\"89,265\",\"NETBID_TRDVOL\":\"22,291\",\"ASK_TRDVAL\":\"694,143,600\",\"BID[...]
