interactions:
- request:
    body: mktId=STK&trdDd=20210104&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT03501
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"output\":[{\"ISU_SRT_CD\":\"095570\",\"ISU_CD\":\"KR7095570008\",\"MKT_ID\":\"STK\",\"ISU_ABBRV\":\"AJ\uB124\uD2B8\uC6CD\uC2A4\",\"ISU_ABBRV_STR\":\"AJ\uB124\uD2B8\uC6CD\uC2A4
        <em class =\\\"up\\\"></em>\",\"TDD_CLSPRC\":\"4,580\",\"FLUC_TP_CD\":\"2\",\"CMPPREVDD_PRC\":\"-35\",\"FLUC_RT\":\"-0.76\",\"EPS\":\"982\",\"PER\":\"4.66\",\"FWD_EPS\":\"-\",\"FWD_PER\":\"-\",\"BPS\":\"6,802\",\"PBR\":\"0.67\",\"DPS\":\"300\",\"DVD_YLD\":\"6.55\"},{\"ISU_SRT_CD\":\"006840\",\"ISU_CD\":\"KR7006840003\",\"MKT_ID\":\"STK\",\"ISU_ABBRV\":\"AK\uD640\uB529\uC2A4\",\"ISU_ABBRV_STR\":\"AK\uD640\uB529\uC2A4
        <em class =\\\"up\\\"></em>\",\"TDD_CLSPRC\":\"25,250\",\"FLUC_TP_CD\":\"1\",\"CMPPREVDD_PRC\":\"100\",\"FLUC_RT\":\"0.40\",\"EPS\":\"2,168\",\"PER\":\"11.65\",\"FWD_EPS\":\"-\",\"FWD_PER\":\"-\",\"BPS\":\"62,448\",\"PBR\":\"0.40\",\"DPS\":\"750\",\"DVD_YLD\":\"2.97\"},{\"ISU_SRT_CD\":\"027410\",\"ISU_CD\":\"KR7027410000\",\"M[...]
