interactions:
- request:
    body: indIdx2=001&indIdx=1&strtDd=20200101&endDd=20200630&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT00301
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: '{"output":[{"TRD_DD":"2020/06/30","CLSPRC_IDX":"2,108.33","FLUC_TP_CD":"1","PRV_DD_CMPR":"14.85","UPDN_RATE":"0.71","OPNPRC_IDX":"2,124.38","HGPRC_IDX":"2,134.38","LWPRC_IDX":"2,108.26","ACC_TRDVOL":"708,604,874","ACC_TRDVAL":"11,699,082,707,241","MKTCAP":"1,418,860,741,475,329"},{"TRD_DD":"2020/06/29","CLSPRC_IDX":"2,093.48","FLUC_TP_CD":"2","PRV_DD_CMPR":"-41.17","UPDN_RATE":"-1.93","OPNPRC_IDX":"2,105.54","HGPRC_IDX":"2,120.50","LWPRC_IDX":"2,087.84","ACC_TRDVOL":"643,155,859","ACC_TRDVAL":"9,025,867,722,947","MKTCAP":"1,408,463,551,776,580"},{"TRD_DD":"2020/06/26","CLSPRC_IDX":"2,134.65","FLUC_TP_CD":"1","PRV_DD_CMPR":"22.28","UPDN_RATE":"1.05","OPNPRC_IDX":"2,137.47","HGPRC_IDX":"2,142.04","LWPRC_IDX":"2,115.25","ACC_TRDVOL":"761,043,656","A[...]
- request:
    body: idxIndMidclssCd=01&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT00401
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"output\":[{\"IDX_NM\":\"\uCF54\uB9AC\uC544 \uBC38\uB958\uC5C5 \uC9C0\uC218\",\"IDX_ENG_NM\":\"Korea
        Value-up Index\",\"BAS_TM_CONTN\":\"2024.01.02\",\"ANNC_TM_CONTN\":\"2024.09.30\",\"BAS_IDX_CONTN\":\"1,000.00\",\"CALC_CYCLE_CONTN\":\"1\uCD08\",\"CALC_TM_CONTN\":\"09:00:30
        ~ 15:30:00\",\"COMPST_ISU_CNT\":\"99\",\"IND_TP_CD\":\"5\",\"IDX_IND_CD\":\"302\"},{\"IDX_NM\":\"KRX
        TMI\",\"IDX_ENG_NM\":\"KRX TMI            \",\"BAS_TM_CONTN\":\"2010.04.01\",\"ANNC_TM_CONTN\":\"2025.01.13\",\"BAS_IDX_CONTN\":\"1,000.00\",\"CALC_CYCLE_CONTN\":\"1\uCD08\",\"CALC_TM_CONTN\":\"09:00:30
        ~ 15:30:00\",\"COMPST_ISU_CNT\":\"2,356\",\"IND_TP_CD\":\"5\",\"IDX_IND_CD\":\"447\"},{\"IDX_NM\":\"KRX
        300\",\"IDX_ENG_NM\":\"KRX 300\",\"BAS_TM_CONTN\":\"2010.01.04\",\"ANNC_TM_CONTN\":\"2018.02.05\",\"BAS_IDX_CONTN\":\"1,000.00\",\"CALC_CYCLE_[...]
[...]
