interactions:
- request:
    body: trdDd=20210325&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT04301
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"output\":[{\"ISU_SRT_CD\":\"152100\",\"ISU_CD\":\"KR7152100004\",\"SECUGRP_ID\":\"EF\",\"ISU_ABBRV\":\"ARIRANG
        200\",\"TDD_CLSPRC\":\"41,835\",\"CMPPREVDD_PRC\":\"120\",\"FLUC_TP_CD\":\"1\",\"FLUC_RT\":\"0.29\",\"NAV\":\"41,887.33\",\"TDD_OPNPRC\":\"41,705\",\"TDD_HGPRC\":\"42,145\",\"TDD_LWPRC\":\"41,585\",\"ACC_TRDVOL\":\"59,317\",\"ACC_TRDVAL\":\"2,479,398,465\",\"MKTCAP\":\"771,855,750,000\",\"INVSTASST_NETASST_TOTAMT\":\"772,821,298,061\",\"LIST_SHRS\":\"18,450,000\",\"IDX_IND_NM\":\"\uCF54\uC2A4\uD53C
        200\",\"OBJ_STKPRC_IDX\":\"408.53\",\"CMPPREVDD_IDX\":\"1.43\",\"FLUC_TP_CD1\":\"1\",\"FLUC_RT1\":\"0.35\"},{\"ISU_SRT_CD\":\"295820\",\"ISU_CD\":\"KR7295820005\",\"SECUGRP_ID\":\"EF\",\"ISU_ABBRV\":\"ARIRANG
        200\uB3D9\uC77C\uAC00\uC911\",\"TDD_CLSPRC\":\"10,915\",\"CMPPREVDD_PRC\":\"60\",\"FLUC_TP_CD\":\"1\",\"FLUC_RT\":\"0.55\",\"NAV\":\"10,969.41\",\"TDD_OPNPRC\":\"10,780\",\"TDD_HGPRC\":\"10,945\",\"TDD_LWPRC\":\"10,780\",\"ACC_TRDVOL\":\"69\",\"ACC_TRDVAL\":\"750,210\",\"MKTCAP\":\"4,366,000,000\",\"INVSTASST_NETASST_TOTAMT\":\"4,387,764,172\",\"LIST_SHRS\":\"400,000\",\"IDX_IND[...]
