interactions:
- request:
    body: searchType=1&mktId=STK&trdDd=20210118&isuLmtRto=0&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT03701
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"output\":[{\"ISU_SRT_CD\":\"095570\",\"ISU_ABBRV\":\"AJ\uB124\uD2B8\uC6CD\uC2A4\",\"TDD_CLSPRC\":\"4,485\",\"FLUC_TP_CD\":\"2\",\"CMPPREVDD_PRC\":\"-25\",\"FLUC_RT\":\"-0.55\",\"LIST_SHRS\":\"46,822,295\",\"FORN_HD_QTY\":\"4,981,337\",\"FORN_SHR_RT\":\"10.64\",\"FORN_ORD_LMT_QTY\":\"46,822,295\",\"FORN_LMT_EXHST_RT\":\"10.64\"},{\"ISU_SRT_CD\":\"006840\",\"ISU_ABBRV\":\"AK\uD640\uB529\uC2A4\",\"TDD_CLSPRC\":\"25,200\",\"FLUC_TP_CD\":\"2\",\"CMPPREVDD_PRC\":\"-1,100\",\"FLUC_RT\":\"-4.18\",\"LIST_SHRS\":\"13,247,561\",\"FORN_HD_QTY\":\"1,026,311\",\"FORN_SHR_RT\":\"7.75\",\"FORN_ORD_LMT_QTY\":\"13,247,561\",\"FORN_LMT_EXHST_RT\":\"7.75\"},{\"ISU_SRT_CD\":\"027410\",\"ISU_ABBRV\":\"BGF\",\"TDD_CLSPRC\":\"4,810\",\"FLUC_TP_CD\":\"2\",\"CMPPREVDD_PRC\":\"-20\",\"FLUC_RT\":\"-0.41\",\"LIST_SHRS\":\"95,716,791\",\[...]
[...]
