interactions:
- request:
    body: mktId=ALL&trdDd=20210103&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT01501
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"OutBlock_1\":[{\"ISU_SRT_CD\":\"060310\",\"ISU_CD\":\"KR7060310000\",\"ISU_ABBRV\":\"3S\",\"MKT_NM\":\"KOSDAQ\",\"SECT_TP_NM\":\"\uC911\uACAC\uAE30\uC5C5\uBD80\",\"TDD_CLSPRC\":\"-\",\"FLUC_TP_CD\":\"3\",\"CMPPREVDD_PRC\":\"-\",\"FLUC_RT\":\"-\",\"TDD_OPNPRC\":\"-\",\"TDD_HGPRC\":\"-\",\"TDD_LWPRC\":\"-\",\"ACC_TRDVOL\":\"-\",\"ACC_TRDVAL\":\"-\",\"MKTCAP\":\"-\",\"LIST_SHRS\":\"44,802,511\",\"MKT_ID\":\"KSQ\"},{\"ISU_SRT_CD\":\"095570\",\"ISU_CD\":\"KR7095570008\",\"ISU_ABBRV\":\"AJ\uB124\uD2B8\uC6CD\uC2A4\",\"MKT_NM\":\"KOSPI\",\"SECT_TP_NM\":\"\",\"TDD_CLSPRC\":\"-\",\"FLUC_TP_CD\":\"3\",\"CMPPREVDD_PRC\":\"-\",\"FLUC_RT\":\"-\",\"TDD_OPNPRC\":\"-\",\"TDD_HGPRC\":\"-\",\"TDD_LWPRC\":\"-\",\"ACC_TRDVOL\":\"-\",\"ACC_TRDVAL\":\"-\",\"MKTCAP\":\"-\",\"LIST_SHRS\":\"46,822,295\",\"MKT_ID\":\"STK\"},{\"ISU_SRT_CD\":\"006840\",\"ISU_CD\":\"KR7006840003\",\"ISU_ABBRV\":\"AK\uD640\uB529\uC2A4\",\"M[...]
