interactions:
- request:
    body: strtDd=20210115&endDd=20210122&mktId=STK&invstTpCd=9999&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT02401
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"output\":[{\"ISU_SRT_CD\":\"095570\",\"ISU_NM\":\"AJ\uB124\uD2B8\uC6CD\uC2A4\",\"ASK_TRDVOL\":\"2,088,907\",\"BID_TRDVOL\":\"2,088,907\",\"NETBID_TRDVOL\":\"0\",\"ASK_TRDVAL\":\"8,914,353,675\",\"BID_TRDVAL\":\"8,914,353,675\",\"NETBID_TRDVAL\":\"0\"},{\"ISU_SRT_CD\":\"006840\",\"ISU_NM\":\"AK\uD640\uB529\uC2A4\",\"ASK_TRDVOL\":\"1,409,142\",\"BID_TRDVOL\":\"1,409,142\",\"NETBID_TRDVOL\":\"0\",\"ASK_TRDVAL\":\"38,080,803,500\",\"BID_TRDVAL\":\"38,080,803,500\",\"NETBID_TRDVAL\":\"0\"},{\"ISU_SRT_CD\":\"027410\",\"ISU_NM\":\"BGF\",\"ASK_TRDVOL\":\"4,987,904\",\"BID_TRDVOL\":\"4,987,904\",\"NETBID_TRDVOL\":\"0\",\"ASK_TRDVAL\":\"25,072,969,705\",\"BID_TRDVAL\":\"25,072,969,705\",\"NETBID_TRDVAL\":\"0\"},{\"ISU_SRT_CD\":\"282330\",\"ISU_N[...]
