interactions:
- request:
    body: trdDd=20210104&mktId=KSQ&inqCond=STMFRTSCIFDRFS&bld=dbms%2FMDC%2FSTAT%2Fsrt%2FMDCSTAT30101
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"OutBlock_1\":[{\"ISU_CD\":\"060310\",\"ISU_ABBRV\":\"3S\",\"SECUGRP_NM\":\"\uC8FC\uAD8C\",\"CVSRTSELL_TRDVOL\":\"0\",\"UPTICKRULE_APPL_TRDVOL\":\"0\",\"UPTICKRULE_EXCPT_TRDVOL\":\"0\",\"ACC_TRDVOL\":\"588,133\",\"TRDVOL_WT\":\"0.00\",\"CVSRTSELL_TRDVAL\":\"0\",\"UPTICKRULE_APPL_TRDVAL\":\"0\",\"UPTICKRULE_EXCPT_TRDVAL\":\"0\",\"ACC_TRDVAL\":\"1,306,838,265\",\"TRDVAL_WT\":\"0.00\"},{\"ISU_CD\":\"054620\",\"ISU_ABBRV\":\"APS\uD640\uB529\uC2A4\",\"SECUGRP_NM\":\"\uC8FC\uAD8C\",\"CVSRTSELL_TRDVOL\":\"0\",\"UPTICKRULE_APPL_TRDVOL\":\"0\",\"UPTICKRULE_EXCPT_TRDVOL\":\"0\",\"ACC_TRDVOL\":\"300,316\",\"TRDVOL_WT\":\"0.00\",\"CVSRTSELL_TRDVAL\":\"0\",\"UPTICKRULE_APPL_TRDVAL\":\"0\",\"UPTICKRULE_EXCPT_TRDVAL\":\"0\",\"ACC_TRDVAL\":\"2,409,361,480\",\"TRDVAL_WT\":\"0.00\"},{\"ISU_CD\":\"265520\",\"ISU_ABBRV\":\"AP\uC2DC\uC2A4\uD15C\",\"SECUGRP_NM\":\"\uC8FC\uAD8C\",\"CVSR[...]
